@page "/cadastro"

<div class="container mt-5">
    <form>
        <h2 class="text-center mb-4">Cadastro</h2>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control input-highlight" id="nome" name="nome" placeholder="Digite seu nome">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control input-highlight" id="email" name="email" placeholder="Digite seu email">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="tel" class="form-control input-highlight" id="telefone" name="telefone" placeholder="Digite seu telefone">
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control input-highlight" id="senha" name="senha" placeholder="Digite sua senha">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg mt-3">Enviar</button>
        </div>
    </form>
</div>
